@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:wght@400;700;800&display=swap");

/* Scroll Bar Personalizado */

body::-webkit-scrollbar {
  width: 15px;
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgb(27, 27, 27);
}

/* Scroll Bar Personalizado end */

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

/* FUENTE DEL LOGO */
@font-face {
  font-family: "Space Bd Bt Bold";
  src: url(../fonts/Space_Bd_BT_Bold.ttf);
}
/* FUENTE DEL LOGO END */

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  background: #1e272e;
  padding: 10px 0;
  border-bottom: 1px solid rgb(71, 71, 71);
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: rgba(255, 255, 255, 0.7);
}

#topbar .contact-info a:hover {
  color: #0fbcf9;
}

#topbar .contact-info i {
  color: #0fbcf9;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .phone {
  color: rgb(255, 255, 255);
}

#topbar .social-links a {
  color: #fff;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #21d4fd;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
  padding: 20px 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.04);
}

#header .box {
  margin-left: 9.8%;
  margin-right: 10%;
}

#header .logo {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Space Bd Bt Bold";
  font-weight: 700;
}

#header .logo {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header .logo:hover {
  text-decoration: none;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: rgb(225, 225, 225);
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  background: #1e272e;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #fff;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu .btn {
  border: 2px solid white;
  padding-left: 50%;
  padding-right: 50%;
  transition: all 0.1s linear;
  border-radius: 20px 20px 20px 20px;
}

.nav-menu .btn:hover {
  color: white;
  background: #21d5fdd3;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.nav-menu ul li:hover > a {
  color: #57d2ff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: white !important;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: white;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  font-family: "Open Sans";
  font-weight: 800;

  color: #1e272e;
  font-size: 18px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #8873ff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #1e272e;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #1e272e;
}

#mobile-nav ul .menu-item-active {
  color: #8873ff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.7);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Responsive NAVBAR
--------------------------------------------------------------*/

@media (max-width: 992px) {
  .back-to-top {
    bottom: 15px;
  }
  #header .logo {
    font-size: 32px;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #mobile-nav .btn {
    color: rgb(130, 108, 255);
    padding-right: 100%;
  }
}

/*--------------------------------------------------------------
# SERVICIOS
--------------------------------------------------------------*/

.servicios {
  padding-top: 5%;
  padding-bottom: 5%;
  background: #fff;
}

.servicios .subtitle {
  font-size: 38px;
  font-family: "Open Sans";
  font-weight: 700;
  color: black;

  margin-bottom: 2%;
}

.servicios .subtitle-text {
  font-family: "Lato";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
}

.hr {
  background: #21d4fd;
  padding: 1px;
  margin-right: 82%;
}

/* CARDS */

.servicios .card {
  background: transparent;
  border: 0px;
  padding-top: 10%;
}

.servicios .card-title {
  font-family: "Open Sans";
  font-weight: 800;
  color: #21d4fd;
}

.servicios .card-text {
  font-family: "Lato";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.servicios .box {
  transition: all 0.3s;
  border-radius: 20px 20px 20px 20px;
}

.servicios .box:hover {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0.1rem 0.5rem black;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

@media (max-width: 992px) {
  .servicios {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .servicios .titles {
    padding: 5%;
  }

  .servicios .subtitle {
    font-size: 24px;
    margin-bottom: 5%;
  }

  .servicios .subtitle-text {
    font-size: 18px;
  }

  .servicios .box {
    padding: 5%;
  }
}

/*--------------------------------------------------------------
# SOPORTE
--------------------------------------------------------------*/

.soporte {
  padding-top: 5%;
  padding-bottom: 5%;
  background: #fff;
}

.soporte .subtitle {
  font-size: 38px;
  font-family: "Open Sans";
  font-weight: 700;
  color: black;

  margin-bottom: 2%;
}

.soporte .subtitle-text {
  font-family: "Lato";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  margin-bottom: 5%;
}

/* BOXES */

.soporte .box {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 40px 40px 40px 40px;
  padding: 10px;
  transition: all 0.4s ease;
  margin-bottom: 5%;
}

.soporte .box:hover {
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

.soporte .img1 {
  margin-left: 5%;
}

.soporte .title1 {
  font-family: "Lato";
  font-weight: 700;
  margin-top: 10%;
}

.soporte .p1 {
  font-family: "Lato";
  font-size: 18px;
  margin-right: 10%;
  color: rgba(255, 255, 255, 0.9);
}

.soporte .title2 {
  font-family: "Lato";
  font-weight: 700;
  margin-top: 20%;
}

.soporte .p2 {
  font-family: "Lato";
  font-size: 18px;
  margin-right: 10%;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 992px) {
  .soporte {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .soporte .titles {
    padding: 5%;
  }

  .soporte .subtitle {
    font-size: 24px;
    margin-bottom: 5%;
  }

  .soporte .subtitle-text {
    font-size: 18px;
  }

  .soporte .box {
    margin: 5%;
    padding: 5%;
  }

  .soporte .img1 {
    margin-left: 15%;
  }

  .soporte .title1 {
    text-align: center;
  }

  .soporte .p1 {
    text-align: center;
    margin-right: 0%;
  }

  .soporte .title2 {
    text-align: center;
  }

  .soporte .p2 {
    text-align: center;
    margin-right: 0%;
  }
}

/*--------------------------------------------------------------
# ¿WHY?
--------------------------------------------------------------*/

.why {
  background-color: #b721ff;
  background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%);
  padding-top: 10%;
  padding-bottom: 10%;
}

.why h1 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 700;
}

.why h1 span {
  font-size: 44px;
  font-family: "Space Bd Bt Bold";
}

.why h4 {
  font-family: "Open Sans";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.616);
}

.why h3 {
  font-family: "Open Sans";
  font-weight: 700;
  color: rgba(255, 255, 255, 0.904);
}

.why h5 {
  font-family: "Open Sans";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.616);
}

.why i {
  color: #c4d8dc;
}

.why img {
  width: 90%;
  margin-top: 20%;
}

@media screen and (max-width: 768px) {
  .why .col {
    padding: 0% 15%;
  }

  .why h4 {
    padding-bottom: 0px;
  }

  .why img {
    width: 100%;
    padding-bottom: 50px;
    margin-top: 0%;
  }
}

/*--------------------------------------------------------------
# DOWNLOAD
--------------------------------------------------------------*/

.download {
  margin-top: 8%;
  margin-bottom: 8%;
}

.download h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 36px;
  color: black;
}

.download span {
  font-family: "Space Bd Bt Bold";
}

.download p {
  margin-top: 5%;
  font-family: "Lato";
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
}

.download a {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border: 0px;
  border-radius: 15px 15px 15px 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;

  font-family: "Open Sans";
  font-weight: 700;
  color: #fff;
  transition: all .2s ease;
}

.download a:hover {
  background-color: #b721ff;
  background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%);
  box-shadow: .1rem .3rem .5rem rgba(0, 0, 1, 0.8);
}

.download .card-img {
  border: 0px;
}

@media (max-width: 992px) {

  .download {
    margin: 5%;
  }

  .download h2 {
    margin-top: 10%;
    text-align: center;
  }

  .download p {
    font-size: 18px;
    text-align: center;
  }

  .download a {
    margin-top: 10%;
  }

  .download .card-img {
    margin-top: 10%;
  }

  .download .box {
    text-align: center;
  }

}

/*--------------------------------------------------------------
# VIDEO
--------------------------------------------------------------*/

.video {
	padding-top: 8rem;
	padding-bottom: 6.75rem;
	background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
	text-align: center;
}


.video .image-container {
	margin-bottom: 2rem;
}

.video .image-container img {
	border-radius: 0.75rem;
}

.video .video-wrapper {
	position: relative;
}

.video h4 {
  font-family: "Open Sans";
  font-weight: 700;
}

/* Video Play Button */
.video .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all .3s ease;
}
  
.video .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.video .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #fff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}

.video .video-play-button:hover {
  border: 0px;
  box-shadow: 1rem 1rem 8rem #b721ff;
  background-color: #b721ff;
  background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%);
}

/*--------------------------------------------------------------
# PRECIOS
--------------------------------------------------------------*/

.precios {
  padding-top: 10%;
  padding-bottom: 10%;
  background: #fff;
}

.precios .subtitle {
  font-size: 38px;
  font-family: "Open Sans";
  font-weight: 700;
  color: black;

  margin-bottom: 2%;
}

.precios .subtitle-text {
  font-family: "Lato";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
}

.hr {
  background: #21d4fd;
  padding: 1px;
  margin-right: 82%;
}

.precios .row {
  margin-top: 5%;
}

.precios .card {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.precios .card-title {
  padding-top: 10%;
  font-family: "Open Sans";
  font-weight: 700;
  color: #0fbcf9;
  text-align: center;
}

.precios .price {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 58px;
  color: #444444;
  text-align: center;
}

.precios .price span {
  font-size: 40px;
}

.precios .text-muted {
  font-family: "Open Sans";
  text-align: center;
  padding-bottom: 5%;
}

.precios .card hr {
  background: rgba(0, 0, 0, 0.1);
}

.precios ul li {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lato";
  padding-top: 5%;
  list-style: none;
}

.precios ul i {
  color: #0fbcf9;
}

.precios .btn {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border: 0px;
  border-radius: 20px 20px 20px 20px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 3%;
  padding-bottom: 3%;

  font-family: "Open Sans";
  font-weight: 700;
  color: #fff;
  transition: all .2s ease;
}

.precios .btn:hover {
  background-color: #b721ff;
  background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%);
  box-shadow: .1rem .3rem .5rem rgba(0, 0, 1, 0.8);
}

.precios .box {
  transition: all .3s ease;
}

.precios .box:hover {
  border: 0px;
  box-shadow: 0rem 0.1rem 0.8rem black;
}

.precios .nota {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 22px;
  margin-top: 5%;
  color: #444444;
}

@media (max-width: 992px) {
  .precios .titles {
    padding: 5%;
  }

  .precios .subtitle {
    font-size: 24px;
    margin-bottom: 5%;
  }

  .precios .subtitle-text {
    font-size: 18px;
  }

  .precios .row {
    padding: 5%;
  }

  .precios .card {
    margin-bottom: 15%;
  }

  .precios .nota {
    padding: 5%;
    font-size: 16px;
    margin-top: 0%;
  }
}

/*--------------------------------------------------------------
# CONTACTO
--------------------------------------------------------------*/

.contacto {
  padding-top: 0%;
  padding-bottom: 5%;
}

.contacto h1 {
  font-size: 38px;
  font-family: "Open Sans";
  font-weight: 700;
  color: black;

  margin-bottom: 2%;
}

.contacto .subtitle-text {
  font-family: "Lato";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
}

.hr {
  background: #21d4fd;
  padding: 1px;
  margin-right: 82%;
}

.contacto button {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border: 0px;
  border-radius: 40px 40px 40px 40px;
  margin-top: 2%;
  margin-bottom: 0%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;

  font-family: "Open Sans";
  font-weight: 700;
  color: #fff;
  transition: all .2s ease;
}

.contacto button:hover {
  background-color: #b721ff;
  background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%);
  box-shadow: .1rem .3rem .5rem rgba(0, 0, 1, 0.8);
}

@media (max-width: 992px) {
  .contacto .titles {
    padding: 5%;
  }

  .contacto .subtitle {
    font-size: 24px;
    margin-bottom: 5%;
  }

  .contacto .subtitle-text {
    font-size: 18px;
  }

  .contacto button {
    margin-bottom: 10%;
  }
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.footer .row {
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer .text1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 28px;
}

.footer .text2 {
  font-family: "Lato";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 992px) {
  .footer {
    padding: 5%;
  }
}
